In [3]:
import pandas as pd

In [4]:
col_names = ['datetime', 'user']
views  = pd.read_csv('../data/feed-views.log', sep='\t', names=col_names)

In [5]:
views

                        datetime       user
0     2020-04-17 12:01:08.463179      artem
1     2020-04-17 12:01:23.743946      artem
2     2020-04-17 12:27:30.646665      artem
3     2020-04-17 12:35:44.884757      artem
4     2020-04-17 12:35:52.735016      artem
...                          ...        ...
1071  2020-05-21 18:45:20.441142  valentina
1072  2020-05-21 23:03:06.457819      maxim
1073  2020-05-21 23:23:49.995349      pavel
1074  2020-05-21 23:49:22.386789      artem
1075  2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

In [7]:
views['datetime'] = pd.to_datetime(views.datetime)

In [5]:
views

                       datetime       user
0    2020-04-17 12:01:08.463179      artem
1    2020-04-17 12:01:23.743946      artem
2    2020-04-17 12:27:30.646665      artem
3    2020-04-17 12:35:44.884757      artem
4    2020-04-17 12:35:52.735016      artem
...                         ...        ...
1071 2020-05-21 18:45:20.441142  valentina
1072 2020-05-21 23:03:06.457819      maxim
1073 2020-05-21 23:23:49.995349      pavel
1074 2020-05-21 23:49:22.386789      artem
1075 2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

In [8]:
views['year'] = pd.DatetimeIndex(views['datetime']).year
views['month'] = pd.DatetimeIndex(views['datetime']).month
views['day'] = pd.DatetimeIndex(views['datetime']).day
views['hour'] = pd.DatetimeIndex(views['datetime']).hour
views['minute'] = pd.DatetimeIndex(views['datetime']).minute
views['second'] = pd.DatetimeIndex(views['datetime']).second
views

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

cut: https://dfedorov.spb.ru/pandas/Разделение%20данных%20в%20Pandas%20с%20помощью%20qcut%20и%20cut.html

In [9]:
# Названия категорий
cut_labels = ["night", 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
# Интервалы деления на категории right=False - правая граница не входит
cut_bins = [0, 4, 7, 11, 17, 20, 24]
views['daytime'] = pd.cut(views.hour, bins = cut_bins , labels = cut_labels, right=False)
views

,datetime,user,year,month,day,hour,minute,second,daytime
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8,afternoon
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23,afternoon
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30,afternoon
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44,afternoon
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20,early evening
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6,evening
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49,evening
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,evening
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14,morning

Сделаем столбец user индексом

In [18]:
views = views.set_index('user')
views

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

Посчитаем количество элементов (строк)

In [20]:
views.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

Посчитаем количество элементов в интервалах дня

In [21]:
views['daytime'].value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

Отсортируем по заданию

In [22]:
df_sort = views.sort_values(['hour', 'minute', 'second'])
df_sort.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night

Найдем максимальное значение в колонке "час" в категории "ночь"

In [23]:
views[views['daytime'] == 'night']['hour'].max()

3

Найдем минимальное значение в колонке "час" в категории "утро"

In [24]:
views[views['daytime'] == 'morning']['hour'].min()

8

Посмотрим этих людей

In [25]:
views[(views['hour'] == views[views['daytime'] == 'night']['hour'].max())]

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-19 03:23:35.471598,2020,4,19,3,23,35,night
konstantin,2020-04-19 03:23:55.473926,2020,4,19,3,23,55,night
konstantin,2020-04-19 03:33:07.757714,2020,4,19,3,33,7,night

In [26]:
views[(views['hour'] == views[views['daytime'] == 'morning']['hour'].min())]

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning

Найдем моду (самое частое значение)

In [28]:
views['hour'].mode()

0    22
Name: hour, dtype: int64

In [29]:
views['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

Покажем 3 самых ранних часа утра и соответствующие имена пользователей и
3 последних часа и имена пользователей с использованием nsmallest() и nlargest()

In [30]:
views[views['daytime'] == 'morning'].nsmallest(3, ['hour'])

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
artem,2020-04-24 09:42:47.598208,2020,4,24,9,42,47,morning

In [31]:
views[views['daytime'] == 'morning'].nlargest(3, ['hour'])

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-18 10:53:52.623447,2020,4,18,10,53,52,morning
maxim,2020-04-18 10:56:55.833899,2020,4,18,10,56,55,morning
konstantin,2020-04-18 10:57:37.331258,2020,4,18,10,57,37,morning

Используем метод describe(), чтобы получить базовую статистику для столбцов

https://medium.com/nuances-of-programming/6-функций-pandas-для-быстрого-эксплораторного-анализа-данных-8dd55e410b8b

In [33]:
views.describe()

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

Вычислим межквартильный диапазон для часа, извлекая значения из результата метода describe() и сохраняя его в переменной iqr

In [34]:
iqr = views.describe()['hour'].loc['75%'] - views.describe()['hour'].loc['25%']
iqr

9.0

In [35]:
views.loc[views.daytime == 'night'].hour.idxmax()

'konstantin'